[tool.pytest.ini_options]
python_files = "test_*"
python_classes = "*Tests"
python_functions = "test_*"
asyncio_mode = "auto"
testpaths = ["tests"]
markers = [
    "create: Tests that create resources on the trainml platform",
    "gpu_types: Gpu Type tests",
    "environments: Environment tests",
    "datasets: Datasets tests",
    "models: Models tests",
    "checkpoints: Checkpoints tests",
    "volumes: Volumes tests",
    "jobs: Jobs tests",
    "connections: Connections tests",
    "projects: Projects tests",
    "cloudbender: CloudBender tests",
    "providers: Providers tests",
    "regions: Regions tests",
    "nodes: Nodes tests",
    "devices: Devices tests",
    "datastores: Datastores tests",
    "data_connectors: Data Connector tests",
    "services: Services tests",
    "device_configs: DeviceConfigs tests",
    "unit: All unit tests (no trainML environment required)",
    "integration: All integration tests (trainML environment required)",
    "sdk: All tests of the SDK",
    "cli: All test of the cli",
]
